DB_PATH=/data/bot.db
CONFIG_DIR=/data/configs
WG_INTERFACE=wg0
WG_CONFIG_PATH=/etc/wireguard/wg0.conf
WG_MANAGED_PEERS_PATH=/etc/wireguard/wg0-managed-peers.conf
WG_SERVER_PUBLIC_KEY=REPLACE_SERVER_PUBLIC_KEY
WG_ENDPOINT=SERVER_PUBLIC_IP:51820
WG_DNS=1.1.1.1
WG_DNS_RED=10.10.100.1
WG_DNS_BLUE=10.10.110.1

WG_ALLOWED_IPS_RED=0.0.0.0/0
WG_ALLOWED_IPS_BLUE=0.0.0.0/0

WG_CLIENT_IP_NETWORK_RED=10.10.100.0/24
WG_CLIENT_IP_START_RED=102
WG_CLIENT_IP_END_RED=220

WG_CLIENT_IP_NETWORK_BLUE=10.10.110.0/24
WG_CLIENT_IP_START_BLUE=102
WG_CLIENT_IP_END_BLUE=220

APPLY_CHANGES=true
DEFAULT_INVITE_USES=10
WEB_HOST=0.0.0.0
WEB_PORT=8080
WEB_TITLE=Портал доступа WireGuard
WEB_ADMIN_PASSWORD=CHANGE_ME
